
<center><footer>
  <div style="background-color: none;" class="top-bar small-12">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="https://discord.gg/5ZVZnKd" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/discord.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://twitter.com/purple_protocol" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/twitter.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://www.facebook.com/purpleprotocol/" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/facebook.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://github.com/purpleprotocol" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/github.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://www.reddit.com/r/purpleprotocol/" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/reddit.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://medium.com/purple-protocol" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/medium.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://t.me/purple_protocol" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/telegram.svg" class="thumbnail" alt=""></a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li id="footerfaq"><a style="color: inherit;" href="#">FAQ</a></li>
      </ul>
    </div>
  </div>
</footer>
</center>
