

<footer class="footer">
<div class="row collapse">
  <div class="marketing-site-footer-bottom">
      <div class="footer-center">
      <ul style="color: #68459b; margin: 50px; margin-bottom: -108px;" class="menu marketing-site-footer-bottom-links">
          <li><a href="https://github.com/purpleprotocol" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/github.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://twitter.com/purple_protocol" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/twitter.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://www.facebook.com/purpleprotocol/" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/facebook.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://discord.gg/5ZVZnKd" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/discord.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://www.reddit.com/r/purpleprotocol/" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/reddit.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://medium.com/purple-protocol" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/medium.svg" class="thumbnail" alt=""></a></li>
          <li><a href="https://t.me/purple_protocol" target="blank"><img id="socialfooter" height=36px width=36px src="/assets/img/telegram.svg" class="thumbnail" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
