

<div class="top-bar" id="example-menu" style="background: transparent;">
  <div class="top-bar-left" style="background: transparent;">
    <ul class="dropdown menu" data-dropdown-menu style="background: transparent;">
      <li class="menu-text" style="color:#6b30b7;"><a href="/" style="color:#6b30b7;">Purple</a></li>
    </ul>
  </div>
  <div class="top-bar-right" style="background: transparent;">
    <ul class="dropdown menu" data-dropdown-menu style="background: transparent;">
      <li><a href="https://github.com/purpleprotocol/wiki/wiki" target="blank" style="color:#6b30b7;">Wiki</a></li>
      <li><a href="/blog" style="color:#6b30b7;">Blog</a></li>
    </ul>
  </div>
</div>
