<!--

<div class="top-bar" id="example-menu" style="background: transparent;">
  <div class="top-bar-left" style="background: transparent;">
    <ul class="dropdown menu" data-dropdown-menu style="background: transparent;">
      <li class="menu-text" style="color:#6b30b7;"><a href="index.html" style="color:#6b30b7;">Purple</a></li>
    </ul>
  </div>
  <div class="top-bar-right" style="background: transparent;">
    <ul class="dropdown menu" data-dropdown-menu style="background: transparent;">
      <li><a href="/whitepaper/" target="blank" style="color:#6b30b7;">Whitepaper</a></li>
    </ul>
  </div>
</div>
-->
