---
layout: default
---

<html class="no-js" lang="en" dir="ltr">
  <body>
    <div class="navbar">
      <div>
        <a href="#">
          <img class="logo" src="/assets/img/top-logo.svg" width="30px" />
        </a>
      </div>
      <div id="spacer"></div>
      <div>
        <a href="#">Features</a> <a href="#">Benefits</a> <a href="#">Team</a>
        <a href="#">Whitepaper</a> <a href="#">Contact</a>
      </div>
    </div>

    <div class="banner">
      <br />
      <div>
        <h2>
          Capable of handling more than <strong>a million</strong> transactions
          per second
        </h2>
        <h5>
          If Bitcoin is the propeller, then <strong>Purple</strong> is the jet
          engine!
        </h5>
        <button><a href="/whitepaper/" target="blank">WHITEPAPER</a></button>
      </div>
    </div>

    <h1 class="title">Purple Protocol</h1>
    <p class="titlemic">Features</p>

    <div class="features">
      <div class="row">
        <div class="column">
          <div class="side">
            <img src="/assets/img/fraud.svg" class="thumbnail" alt="" />
            <p>Paragraph</p>
          </div>
          <div class="main">
            <h4 id="subtitle">Scalable</h4>
            <h5>
              <strong>Purple</strong> can potentially handle all of the world's
              transactions and also ensure a valuable infrastructure for smart
              contracts and decentralized applications.
            </h5>
          </div>
        </div>
        <div class="column">
          <div class="side">
            <img src="/assets/img/fraud.svg" class="thumbnail" alt="" />
            <p>Paragraph</p>
          </div>
          <div class="main">
            <h4 id="subtitle">Secure</h4>
            <h5>
              <strong>Purple</strong> can potentially handle all of the world's
              transactions and also ensure a valuable infrastructure for smart
              contracts and decentralized applications.
            </h5>
          </div>
        </div>
      </div>
    </div>

    <h1 class="title">Purple Use Cases</h1>
    <p class="features">Benefits</p>

    <div class="cases">
        <div class="row">
          <div class="column">
              <div class="main">
                  <h4 id="subtitle">Corruption-free
                      organizations.</h4>
                  <h5>
                      With blockchain as the
                      backbone of your organization,
                      you can rest assured that its
                      funds are properly used to
                      make the world better.
                </div>
            <div class="side">
              <img src="/assets/img/fraud.svg" class="thumbnail" alt="" />
            </div>
            
          </div>
          <div class="column">
            <div class="side">
              <img src="/assets/img/fraud.svg" class="thumbnail" alt="" />
            </div>
            <div class="main">
              <h4 id="subtitle">Create your own
                  Token</h4>
              <h5>
                  Issue your own custom
                  token that you can sell to early
                  investors, without writing a
                  single line of code.
              </h5>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="main">
                    <h4 id="subtitle">Issue self-enforcing
                        contracts</h4>
                    <h5>
                        By using blockchain to
                        automatically enforce
                        contracts, you can rest
                        assured that every party
                        involved will be satisfied. Say
                        goodbye to all the red tape.
                    </h5>
                  </div>
              <div class="side">
                <img src="/assets/img/fraud.svg" class="thumbnail" alt="" />
              </div>
              
            </div>
            <div class="column">
              <div class="side">
                <img src="/assets/img/fraud.svg" class="thumbnail" alt="" />
              </div>
              <div class="main">
                <h4 id="subtitle">Monitor supply
                    chains</h4>
                <h5>
                    Issue your own custom
                    token that you can sell to early
                    investors, without writing a
                    single line of code
                </h5>
              </div>
            </div>
          </div>
        </div>

      <div class="programming">
          <div class="row">
                  <div class="main">
                      <h3><b>Why learn a new programming language?</b></h3>
                      <h5>
                          Purple allows you to build decentralized applications in
                          your favorite one. Nothing can stop you now.
                      </h5>
                    </div>
                <div class="side">
                  <img src="/assets/img/fraud.svg" class="thumbnail" alt="" />
                </div>
       
      </div>
    </div>
    </div>

    <div class="bottom-logo">
        <img class="bottom-logo" src="/assets/img/top-logo.svg" width="60px" />
    </div> 
    <div class="info">
      
      <div class="item">
        <h4>Features</h4>
        <h5>Tour</h5>
        <h5>Analytics</h5>
        <h5>Security</h5>
        <h5>Intelligent AI</h5>
      </div>
    <div class="item">
        <h4>Benefits</h4>
        <h5>Management</h5>
        <h5>Time Saving</h5>
        <h5>Longterm Gains</h5>
        <h5>Forecasting</h5>
      </div>
    <div class="item">
        <h4>Downloads</h4>
        <h5>Android (Google Play)</h5>
        <h5>Apple (App Store)</h5>
        <h5>ChromeOS (Coming soon)</h5>
      </div>
    <div class="item">
        <h4>Resources</h4>
        <h5>API</h5>
        <h5>Mobile SDK</h5>
        <h5>Blog</h5>
        <h5>Videos</h5>
      </div>
    <div class="item">
        <h4>Company</h4>
        <h5>About Us</h5>
        <h5>Jobs</h5>
        <h5>Press & Media</h5>
        <h5>Sitemap</h5>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
