
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');


h1, h2, h3, h4, h5, h6, p {
    font-family: 'Maven Pro', sans-serif;
  }

h1 {
    font-weight: 700;
    margin-top:10vh;
}
.top-logo {
    margin-top:15vh;
}
.full-screen-hero-thing {
    height: 80vh;
    display: flex;
    align-items: top;
    justify-content: center;
    background: url('../img/hero.svg') top center no-repeat;
    background-size: cover;
}
    .content-thing {
      text-align: center;
    }
  }
  
  